[core]
  mergeoptions = --no-edit
[alias]
  st = status -sb
  ci = commit
  br = branch
  co = checkout
  lg = log --pretty=format:'%Cred%h%Creset -%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
  df = "!f() { [ \"$GIT_PREFIX\" != \"\" ] && cd "$GIT_PREFIX"; git diff --color $@ | diff-so-fancy | less --tabs=4 -RFX; }; f"
[user]
  email = dccmx@dccmx.com
  name = dccmx
[color]
  ui = true
